$roboto: 'Roboto', sans-serfi;

$font-size-regular: 16px;
$font-size-large: 18px;
$font-size-title: 22px;

$color-blue: #203b71;
$color-light-blue: #53abdf;
$color-button: #3eafe3;
$color-white: #fff;
$color-black: #000;
$color-gray: #f5f5f5;
$color-dark-gray: #42445a;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
